:root {
    /* Thème par défaut : Marron */
    --primary-color: #622B14;
    --secondary-color: #995F2F;
}

/* =========================
   THÈME MARRON
   ========================= */

.theme-brown {
    --primary-color: #622B14;
    --secondary-color: #995F2F;
}

/* =========================
   THÈME BLEU
   ========================= */

.theme-blue {
    --primary-color: #005461;
    --secondary-color: #018790;
}

/* =========================
   THÈME ROSE
   ========================= */

.theme-pink {
    --primary-color: #896C6C;
    --secondary-color: #E5BEB5;
}

/* =========================
   UTILISATION
   ========================= */

.text-primary-color {
    color: var(--primary-color);
}

.text-secondary-color {
    color: var(--secondary-color);
}

.bouton-btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.bouton-btn-secondary {
    background-color: var(--secondary-color);
    color: white;
}

.text-primary-color {
  color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.bouton-btn {
  border-radius: 5px;
  padding: 5px 30px;
  border: 1px solid;
}


.bouton-btn-primary {
  background: var(--primary-color);
  border: none;
  color: var(--font-color-light);
  &:not(:disabled):hover {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: all 0.5s ease-in-out;
  }
  &:disabled {
    opacity: 0.7;
    background-color: var(--secondary-color);
  }
}